.logo {
    display: inline-block;
    font-family: fantasy;
    font-size: 2rem;
    color: black;
    margin-right: 6rem;
    border: solid 0.2rem #f0f0f0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);

    h2 {
        margin: 0;
        padding: 0 0.5rem 0 0.5rem;
    }
}