.navbar {
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start;
}


.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

    .navItems {
        button {
            background: none;
            margin-right: 2rem;
            font-size: larger;
            color: inherit;
            border: none;
            font-family: inherit;
            cursor: pointer;

        }
    }
}